{% extends 'complaint/base.html' %}
{% block title %}Admin Dashboard{% endblock %}
{% block page_title %}Admin Dashboard{% endblock %}
{% block sidebar %}
  <a href="{% url 'admin_dashboard' %}" class="active"><i class="bi bi-grid me-2"></i>Dashboard</a>
  <a href="{% url 'admin_register_complaint' %}"><i class="bi bi-plus-circle me-2"></i>New Complaint</a>
  <a href="{% url 'engineer_list' %}"><i class="bi bi-people me-2"></i>Engineers</a>
  <a href="{% url 'add_engineer' %}"><i class="bi bi-person-plus me-2"></i>Add Engineer</a>
{% endblock %}
{% block content %}
<div class="row g-3 mb-4">

  <div class="col-md-3">
    <a href="{% url 'admin_dashboard' %}" class="text-decoration-none">
      <div class="stat-card" style="background:#1a3c5e; cursor:pointer;">
        <div class="fs-2 fw-bold">{{ stats.total }}</div>
        <div>Total Complaints</div>
      </div>
    </a>
  </div>

  <div class="col-md-3">
    <a href="{% url 'admin_dashboard' %}?status=open" class="text-decoration-none">
      <div class="stat-card" style="background:#e85d26; cursor:pointer;">
        <div class="fs-2 fw-bold">{{ stats.open }}</div>
        <div>Open</div>
      </div>
    </a>
  </div>

  <div class="col-md-3">
    <a href="{% url 'admin_dashboard' %}?status=in_progress" class="text-decoration-none">
      <div class="stat-card" style="background:#0d6efd; cursor:pointer;">
        <div class="fs-2 fw-bold">{{ stats.in_progress }}</div>
        <div>In Progress</div>
      </div>
    </a>
  </div>

  <div class="col-md-3">
    <a href="{% url 'admin_dashboard' %}?status=resolved" class="text-decoration-none">
      <div class="stat-card" style="background:#198754; cursor:pointer;">
        <div class="fs-2 fw-bold">{{ stats.resolved }}</div>
        <div>Resolved</div>
      </div>
    </a>
  </div>

</div>
<form method="GET" class="mb-3">
    <div class="input-group">
        <input
            type="text"
            name="q"
            class="form-control"
            placeholder="Search by Ref ID, Title, Description, Engineer..."
            value="{{ request.GET.q }}"
        >

        {% if request.GET.status %}
            <input type="hidden" name="status" value="{{ request.GET.status }}">
        {% endif %}

        <button class="btn btn-primary" type="submit">
            Search
        </button>

        <a href="{% url 'admin_dashboard' %}" class="btn btn-secondary">
            Clear
        </a>
    </div>
</form>
<div class="card border-0 shadow-sm">
  <div class="card-header bg-white fw-bold">All Complaints</div>
  <div class="card-body p-0">
    <table class="table table-hover mb-0">
      <thead class="table-light"><tr><th>Title</th><th>Priority</th><th>Status</th><th>Assigned To</th><th>Registered By</th><th>Date</th><th>Action</th></tr></thead>
      <tbody>
        {% for c in complaints %}
        <tr>
         
          <td>{{ c.title }}</td>
          <td><span class="badge badge-{{ c.priority }}">{{ c.get_priority_display }}</span></td>
          <td><span class="badge badge-{{ c.status }}">{{ c.get_status_display }}</span></td>
          <td>{{ c.assigned_to|default:"Unassigned" }}</td>
          <td>
    {% if c.registered_by.get_full_name %}
        {{ c.registered_by.get_full_name }}
    {% else %}
        {{ c.registered_by.username }}
    {% endif %}
</td>
          <td>{{ c.created_at|date:"d M Y" }}</td>
          <td><a href="{% url 'admin_complaint_detail' c.id %}"
       class="btn btn-primary btn-sm">
       View
    </a>

    <a href="{% url 'admin_update_complaint' c.id %}"
       class="btn btn-warning btn-sm">
       Edit
    </a></td>
        </tr>
        {% empty %}<tr><td colspan="7" class="text-center text-muted py-4">No complaints yet.</td></tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="text-center text-secondary small mt-3">
    Showing {{ complaints.start_index }}–{{ complaints.end_index }}
    of {{ complaints.paginator.count }} complaints
</div>
    <nav class="mt-3">
    <ul class="pagination justify-content-center">

        {% if complaints.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?status={{ request.GET.status }}&q={{ request.GET.q }}&page=1">&laquo; First</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?status={{ request.GET.status }}&q={{ request.GET.q }}&page={{ complaints.previous_page_number }}">Previous</a>
            </li>
        {% endif %}

        {% for num in complaints.paginator.page_range %}
            {% if complaints.number == num %}
                <li class="page-item active">
                    <span class="page-link">{{ num }}</span>
                </li>
            {% elif num > complaints.number|add:'-3' and num < complaints.number|add:'3' %}
                <li class="page-item">
                   <a class="page-link" href="?status={{ request.GET.status }}&q={{ request.GET.q }}&page={{ num }}">{{ num }}</a>
                </li>
            {% endif %}
        {% endfor %}

        {% if complaints.has_next %}
            <li class="page-item">
                <a class="page-link" href="?status={{ request.GET.status }}&q={{ request.GET.q }}&page={{ complaints.next_page_number }}">Next</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?status={{ request.GET.status }}&q={{ request.GET.q }}&page={{ complaints.paginator.num_pages }}">Last &raquo;</a>
            </li>
        {% endif %}

    </ul>
</nav>
  </div>
</div>
{% endblock %}